[submodule "support/drag.js"]
	path = support/drag.js
	url = https://github.com/logicalparadox/drag.js.git
[submodule "support/morpheus"]
	path = support/morpheus
	url = https://github.com/ded/morpheus.git
[submodule "support/move.js"]
	path = support/move.js
	url = https://github.com/visionmedia/move.js.git
[submodule "support/bean"]
	path = support/bean
	url = https://github.com/fat/bean.git
